body{
    background-color: rgb(223, 175, 255);
}
img{
    width: 50%;
    margin-left: 20%;
}

h1{
    text-align: center;
    font-size: 60px;
    color: rgb(53, 4, 54);
}
p{
    text-align: center;
    font-size: 50px;
    color: rgb(74, 0, 109);
}
ul{
    text-align: center;
    font-size: 40px;
    color: darkviolet;
}
h2{
   text-align: center;
   font-size: 50px;
   color: blueviolet;
}
cabecalho{
    background-color: rgb(255, 133, 249);
}
lista_cabecalho{
    background-color: fuchsia;
    display: flex;
    margin-left: 50px;
}
item_lista_cabecalho{  
list-style: two;
text-transform: uppercase;
font-size: 80px;
padding: 10px;
margin-left: 5px;
}